repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.1
    hooks:
      - id: seed-isort-config
        language_version: python3.7
        args: [--application-directories=src]
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort
        language_version: python3.7
        types: [python]
        exclude: (/migrations/|/exiffield/)
# Use black as soon as https://github.com/python/black/pull/826 is merged
#  - repo: https://github.com/psf/black
#    rev: stable
#    hooks:
#      - id: black
#        language_version: python3.7
#        types: [python]
#        exclude: (/migrations/|/exiffield/)
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.8
    hooks:
      - id: flake8
        language_version: python3.7
        types: [python]
        exclude: (/migrations/|/exiffield/|manage.py|migrate_4d_.*\.py)
