# compile this file with 'pip-compile requirements-dev.in'
# sync environment with 'pip-sync requirements-dev.txt'
# to update all packages run 'pip-compile --upgrade requirements-dev.in'

-r requirements.in

pre-commit==2.13.0
vcrpy==4.1.1
werkzeug==2.3.7  # for django-extensions
